@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: ;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  font-family: 'Zodiak', serif;
}
.auth_bg {
    background: url("/branding/bg1.png") no-repeat;
    background-size: cover;
  }
  body {
    position: relative;
    background: #efefef;
    
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  main {
    position: relative;
  }
  .cursor_glow {
    width: 200px;
    height: 200px;
    filter: blur(200px);
    background-color: hsl(41, 98%, 39%);
    /* background-color: #0b0f14; */
    /* background-color: #171123; */
    animation: hueRot 6s infinite;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
    z-index: -2;
    will-change: transform; 
    transform: translate(200px, 300px);
    /* transform: translate3d(attr("data-xpos"), attr("data-ypos"), 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); */
    /* transform-style: preserve-3d; */
}

  .bg_grid {
    height: 100%;
    min-height: 100%;
    background-image: url(/grid.svg);
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 200px;
    display: block;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 0;
}

@keyframes hueRot {
  0% {
    filter: hue-rotate(0deg) blur(120px);
  }

  100% {
    filter: hue-rotate(360deg) blur(120px);
  }
  
}